/**
 * Fonts
 */

// Icomoon icons
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?ogv11kt');
  src:url('../fonts/icomoon/icomoon.eot?ogv11kt#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?ogv11kt') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?ogv11kt') format('woff'),
  url('../fonts/icomoon/icomoon.svg?ogv11kt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

