<!DOCTYPE html>
<html ng-app="checklistsApp">
    <head>
        <meta charset="UTF-8" />
        <title>Advanced Checklists for Atlassian JIRA</title>
    </head>
    <body>
        <h1>Hello!</h1>
    </body>
</html>