@import 'common/font';
@import 'common/icon';
@import "compass/css3";

body {
  background-color: white !important;
}

.checklists-app {
  input {
    height: 24px;
    font-size: 14px;
    padding: 0 5px;
    min-width: 230px;
  }

  a.cl-remove-link {
    font-size: 14px;
    color: #BF0808;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 4px 4px;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  background-color: #ffffff;
  height: 100%;
  
  div.total-wrapper {
    margin-left: 8px;
    .complete {
      color: #61bd4f;
    }
  }
  
  div.new-checklist-wrapper {
    float: right;
    margin: 10px;
  }
  
  div.error {
    float: right;
    margin: 10px;
    color: #BF0808;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid;
    padding: 5px;
  }
  
  div.checklist-wapper {
    padding: 10px 0;
    background-color: white;

    div.header-checklist {
      color: #333;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
      text-transform: none;
      
      i.cl-icon-notebook-list {
        cursor: move;  
      }
      
      span.checklist-name {
        cursor: pointer;
      }
    }
    
    div.progress-checklist {
      margin-left: 8px;
      
      span.percent {
        font-size: 12px;
        width: 46px;
        display: inline-block;
      }
      span.progress-line {
        height: 10px;
        width: 300px;
        display: inline-block;
        background-color: #CFCFCF;
        border-radius: 3px;
      }
      
      span.progress-value {
        @include transition(width 0.6s);
        background-color: #3572b0;
        height: 100%;
        display: block;
        border-radius: 3px 0 0 3px;
      }
      &.complete {
        span.progress-value {
          border-radius: 3px;
          background-color: #61bd4f;
        }
      }
    }
    
    ul.checklist {
      list-style: none;
      font-size: 15px;
      padding-left: 32px;
      margin-top: 5px;

      li {
        display: block;
        margin-bottom: 5px;
        background-color: white;

        label {
          width: 90%;
          display: inline-block;
          cursor: pointer;
          
          &.done {
            text-decoration: line-through;
            color: #8c8c8c;
          }
        }
      }
      
      li.add-new-item-link {
        margin-left: 25px;
      }
    }
  }
}
